name: Deploy Protected Resume
on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Debug: List all files
        run: |
          echo "Current working directory: $(pwd)"
          find . -maxdepth 2 -not -path '*/.*'

      - name: Inject Real Name
        # This find command locates any .html file and runs sed on it
        run: |
          find . -name "*.html" -exec sed -i "s/%%CANDIDATE_NAME%%/${{ secrets.REAL_NAME }}/g" {} +
        
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./
          publish_branch: gh-pages